modules = ["nodejs-20", "web"]
run = "pnpm start"
hidden = [".pnpm-store", "node_modules", ".cache", "dist"]

[deployment]
build = ["sh", "-c", "pnpm install && pnpm install:playwright && pnpm build"]
run = ["sh", "-c", "pnpm start"]

[[ports]]
localPort = 3001
externalPort = 80

[env]
NODE_ENV = "production"
PORT = "3001"
